<div class="seating-wrapper">

  <div class="page-header">
  <h2>Seating Plan Generation</h2>

  <input 
    type="text"
    [(ngModel)]="subject"
    placeholder="Please give me subject code for sitting arrangement..."
  >
</div>

  <!-- Top Section -->
  <div class="top-section">

    <!-- Generate Button Card -->
    <div class="form-card">

      <button (click)="generatePlan()" [disabled]="loading">
        {{ loading ? 'Generating...' : 'Generate Plan' }}
      </button>

    </div>

    <!-- College Card -->
    <div class="card-container" *ngIf="generatedCollegeId">
      <div class="college-card" (click)="getPlan()">
        <h3>College ID: {{ generatedCollegeId }}</h3>
        <p>Click to View Seating Plan</p>
      </div>
    </div>

  </div>

  <!-- Seating Table -->
  <div class="table-wrapper" *ngIf="seats.length > 0">

    <div class="table-header">
      <h3>Generated Seating Plan</h3>
      <button class="download-btn" (click)="downloadPDF()">
        ⬇ Download PDF
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Enrollment No</th>
          <th>Name</th>
          <th>Branch</th>
          <th>Semester</th>
          <th>Room</th>
          <th>Row</th>
          <th>Column</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let seat of seats">
          <td>{{ seat.enrollmentNo }}</td>
          <td>{{ seat.name }}</td>
          <td>{{ seat.branch }}</td>
          <td>{{ seat.semester ?? '-' }}</td>
          <td>{{ seat.room_id }}</td>
          <td>{{ seat.row }}</td>
          <td>{{ seat.column }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>