<div class="add-college-container">
  <h2>Add College</h2>

  <form #collegeForm="ngForm" (ngSubmit)="submitCollege(collegeForm)">

<p><u>kindly ensure not duplicate email and 10 digit number and proper name not shortname and address</u></p>
    <input
      type="text"
      placeholder="College Name"
      name="collegeName"
      [(ngModel)]="collegeData.collegeName"
      required
    />

    <input
      type="email"
      placeholder="College Email"
      name="email"
      [(ngModel)]="collegeData.email"
      required
    />

    <input
      type="text"
      placeholder="Contact Number"
      name="contactNumber"
      [(ngModel)]="collegeData.contactNumber"
      required
    />

    <textarea
      placeholder="College Address"
      name="address"
      [(ngModel)]="collegeData.address"
      required
    ></textarea>

    <button type="submit" [disabled]="collegeForm.invalid || loading">
      {{ loading ? 'Adding...' : 'Add College' }}
    </button>

  </form>

  <p class="response" id = "response" *ngIf="response">
    {{ response }}
  </p>
</div>
