<div class="form-container">
    <h2 class="main-title">Change Password</h2>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="tab-content">

            <label class="table-title">Current Password</label>
            <div class="input-group">
                <input [type]="showOld ? 'text' : 'password'" formControlName="oldPassword"
                    placeholder="Enter current password">
                <span class="eye-icon" (click)="showOld = !showOld">
                    {{ showOld ? '👁️' : '🙈' }}
                </span>
            </div>
            <div *ngIf="passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.errors?.['required']"
                class="error-text">
                Current password is required.
            </div>

            <label class="table-title">New Password</label>
            <div class="input-group">
                <input [type]="showNew ? 'text' : 'password'" formControlName="newPassword"
                    placeholder="Enter new password">
                <span class="eye-icon" (click)="showNew = !showNew">
                    {{ showNew ? '👁️' : '🙈' }}
                </span>
            </div>
            <div *ngIf="passwordForm.get('newPassword')?.touched" class="error-text">
                <span *ngIf="passwordForm.get('newPassword')?.errors?.['required']">New password is required.</span>
                <span *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">Must be at least 6
                    characters.</span>
            </div>

            <label class="table-title">Confirm Password</label>
            <div class="input-group">
                <input [type]="showConfirm ? 'text' : 'password'" formControlName="confirmPassword"
                    placeholder="Re-type new password">
                <span class="eye-icon" (click)="showConfirm = !showConfirm">
                    {{ showConfirm ? '👁️' : '🙈' }}
                </span>
            </div>
            <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.errors?.['mismatch']"
                class="error-text">
                Passwords do not match.
            </div>

        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="primary-btn">
            Update Password
        </button>
    </form>

    <div *ngIf="responseMessage" class="response" [style.color]="isError ? '#ef4444' : '#10b981'">
        {{ responseMessage }}
    </div>
</div>