<div class="login-wrapper">
  <div class="login-card">

    <div class="login-header">
      <h2>Welcome Back</h2>
      <p>Login to your SmartSeat account</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <!-- Email -->
      <div class="form-field">
        <label>Email Address</label>
        <input type="email" formControlName="mail" placeholder="you@example.com">

        <div class="error" *ngIf="submitted && f['mail'].errors">
          <small *ngIf="f['mail'].errors?.['required']">Email is required</small>
          <small *ngIf="f['mail'].errors?.['email']">Enter a valid email</small>
        </div>
      </div>

      <!-- Password -->
      <div class="form-field">
        <label>Password</label>        
        <div class="input-group">
          <input [type]="showConfirm ? 'text' : 'password'" formControlName="password" placeholder="Enter your password">

          <span class="eye-icon" (click)="showConfirm = !showConfirm">
            {{ showConfirm ? '👁️' : '🙈' }}
          </span>
        </div>
        <div class="error" *ngIf="submitted && f['password'].errors">
          <small *ngIf="f['password'].errors?.['required']">Password is required</small>
          <small *ngIf="f['password'].errors?.['minlength']">
            Minimum 6 characters required
          </small>
        </div>
      </div>

      <!-- Role -->
      <div class="form-field">
        <label>Select Role</label>
        <select formControlName="role">
          <option value="student">Student</option>
          <option value="college">College</option>
          <option value="university">University</option>
        </select>
      </div>

      <!-- Button -->
      <button type="submit" class="login-btn">
        Login
      </button>

      <!-- Messages -->
      <div class="success-message" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

    </form>
  </div>
</div>