
<div class="form-container">

  <h2>Add Subject</h2>

  <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">

    <input
      type="text"
      placeholder="Enter Subject ID"
      formControlName="subjectId"
    />

    <input
      type="text"
      placeholder="Enter Subject Name"
      formControlName="subjectName"
    />

    <button type="submit">Add Subject</button>

  </form>

  <!-- Response Show -->
  <div class="response" *ngIf="responseMessage">
    {{ responseMessage }}
  </div>





<h3 class="table-title">All Subjects</h3>

<div *ngIf="subjects.length > 0; else noData">

  <table class="subjects-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Subject ID</th>
        <th>Subject Name</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let sub of subjects; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ sub.subjectId }}</td>
        <td>{{ sub.subjectName }}</td>
      </tr>
    </tbody>
  </table>

</div>

<ng-template #noData>
  <div class="empty-state">
    No subjects available.
  </div>
</ng-template>


</div>
