<div class="container">
  <h2>Rooms Management</h2>

  <!-- Mode Selection -->
  <div class="mode-toggle">
    <button (click)="toggleMode('form')" [disabled]="uploadMode==='form'">Add Room</button>
    <button (click)="toggleMode('csv')" [disabled]="uploadMode==='csv'">Upload CSV</button>
  </div>

  <div *ngIf="uploadMode === 'form'" class="form-section">
    <form [formGroup]="roomForm" (ngSubmit)="submitForm()">
      <label>Room Number:</label>
      <input formControlName="roomNumber" type="text"  />
      
      <label>Capacity:</label>
      <input formControlName="capacity" type="number" />

      <label>Block:</label>
      <input formControlName="block" type="text"/>

      

      <button type="submit">Add Room</button>
    </form>
  </div>

  <div *ngIf="uploadMode === 'csv'" class="csv-section">
    <input type="file" (change)="onFileChange($event)" accept=".csv" />
    <button (click)="uploadCSV()">Upload CSV</button>
  </div>

  <p *ngIf="message">{{ message }}</p>
</div>
