html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Ensures the body covers the full screen */

    /* Prevents accidental side-scrolling */
}

::-webkit-scrollbar {
    width: 0 !important;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
} */